<nav>
  <h1 id="logo"><span id="logoSpan">G-</span>AuthApp</h1>

  <div class="btns">
    <div class="navLinks">
      <ul>
        <a href="home"><li>Home</li></a>
        <a href="about"><li>About</li></a>
      </ul>
    </div>
    <% if (!currentUser) { %>
    <a href="/login"><button class="mainBtn">Login</button></a>
    <% } else { %>
    <a href="/logout"><button class="dangerBtn">Logout</button></a>
    <% } %>
  </div>
</nav>
