<nav>
      <h1>Navbar!!</h1>
</nav>
<div class="links">
      <% if (!currentUser) {
            <a href="/signup"><button>Signup</button></a>
            <a href="/login"><button>Login</button></a>
      <% } else { %>
            <a href="/logout"><button>Logout</button></a>
      <% } %>
</div>
