* {
  font-family: Manrope, -apple-system, "Helvetica Neue", Arial, "Segoe UI",
    sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

:root {
  --lightGreen: #01925a;
  --transition: all 0.5s;
  --calibri: "Calibri Light";
  --gBorderColor: #3d3d3d;
  --backgroundColor: #131315;
}

button {
  cursor: pointer;
  padding: 0.4em;
  border-radius: 0.2em;
  border: none;
  font-size: 14px;
}

.mainBtn {
  transition: var(--transition);
  color: #ffffff;
  border: none;
  background-color: var(--lightGreen);

  &:hover {
    transition: var(--transition);
    background-color: #02633d;
  }
}

.dangerBtn {
  border: none;
  color: #ffffff;
  transition: var(--transition);
  background-color: #ff3737;

  &:hover {
    transition: var(--transition);
    background-color: #b82a2a;
  }
}

body {
  background-color: #131315;
}

nav {
  background: #13131585;
  border-bottom: 1px solid var(--gBorderColor);
  padding: 0.3em;
  display: grid;
  grid-template-columns: 1fr 1fr;

  #logoSpan {
    font-size: 23px;
    font-family: var(--calibri);
    color: var(--lightGreen);
  }

  #logo {
    padding-top: 0.1em;
    font-family: var(--calibri);
    font-size: 23px;
    color: #ffffff;
  }

  .navLinks {
    display: grid;
    place-items: center;
    ol {
      list-style: none;
      transition: var(--transition);
    }
    li {
      margin-left: 1.5em;
      padding: 0.4em 0.5em;
      display: inline-block;
      transition: var(--transition);
      border-radius: 0.2em;

      &:hover {
        border-bottom: 2px;
        background-color: var(--lightGreen);
        border-radius: 0.2em;
      }
    }
    a {
      font-size: 15px;
      color: #ffffff;
      text-decoration: none;
    }
  }

  .btns {
    display: flex;
    padding-left: 45%;

    button {
      margin-top: 0.2em;
      background: var(--gBorderColor);
      font-size: 15px;
      margin-left: 5em;
      padding: 0.5em;
    }
  }
}

#headerTxt {
  color: #ffffff;
  text-align: center;
  padding-top: 2em;
  font-size: 30px;
  font-family: var(--calibri);
}

.form {
  padding: 1em;
  width: 17em;
  margin: auto;
  margin-top: 0.5em;
  border: 1px solid var(--gBorderColor);
  border-radius: 0.5em;

  p {
    margin-top: 1em;
  }
  label {
    font-family: var(--calibri);
    color: #aaaaaa;
  }
  input {
    margin-top: 0.5em;
    padding: 0.4em;
    font-size: 14px;
    width: 100%;
    border: none;
    border-radius: 0.2em;
  }

  button {
    margin-top: 0.5em;
    width: 100%;
    background-color: #2e2e2e;
    border: 1px solid var(--gBorderColor);
    color: #ffffff;
    transition: var(--transition);

    &:hover {
      transition: var(--transition);
      background-color: var(--gBorderColor);
    }
  }
  .mainBtn {
    transition: var(--transition);
    color: #ffffff;
    border: none;
    background-color: var(--lightGreen);

    &:hover {
      transition: var(--transition);
      background-color: #02633d;
    }
  }

  #noAcctTxt {
    color: rgb(255, 156, 156);
    font-size: 14px;
    font-style: italic;
    text-align: center;
  }
}
.errContainer {
  position: absolute;
  padding: 0.25em;
  top: 2em;
  width: 100%;
  display: grid;
  place-items: center;
  animation: show ease-in 0.5s;
}
.error {
  display: flex;
  // border: 1px solid var(--gBorderColor);

  background-color: #ad2a2a;

  border-radius: 0.1em;

  h1 {
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    padding: 1em;
    // font-style: italic;
    font-family: "Calibri Light";
  }

  #closeBtn {
    border: none;
    background: #fff;
    font-family: "Calibri";
    font-size: 10px;
    width: auto;
    padding: 0em;
    margin: 1.5em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    color: #000000;
  }
}

@keyframes show {
  0% {
    top: -3em;
    opacity: 0;
    padding: 0.25em;
  }

  100% {
    top: 2em;
    padding: 0.25em;
  }
}

.closed {
  animation: hide ease-out 0.5s;
  top: -3em;
  position: absolute;
  display: grid;
  width: 100%;
  place-items: center;
}
@keyframes hide {
  0% {
    top: 2em;
  }

  100% {
    top: -3em;
    display: none;
  }
}

.errPageContainer {
  display: grid;
  padding-top: 4em;
  place-items: center;
  height: auto;
  width: auto;
  margin: auto;

  h1 {
    font-size: 150px;
    font-family: "Calibri Light";
    color: #ff4444;
    border-bottom: 1px solid #aaaaaa;
  }
  h2 {
    font-size: 30px;
    color: #aaaaaa;
    font-family: "Calibri Light";
  }

  button {
    margin-top: 1em;
  }
}
