<%- layout('layout/boilerplate') %>
<h1 id="headerTxt">Login</h1>
<div class="form">
  <h1><%= error %></h1>
  <form action="/login" method="post">
    <p>
      <label for="username">Enter Username</label>
      <br />
      <input
        type="text"
        placeholder="enter your username"
        id="username"
        name="username"
      />
    </p>
    <p>
      <label for="password">Password</label>
      <br />
      <input
        type="password"
        placeholder="enter password"
        id="password"
        name="password"
      />
    </p>
    <h4><%= incorrect %></h4>
    <button type="submit">Login</button>
  </form>
  <p>i don't have an account?</p>
  <a href="/signup"><button>Signup</button></a>
</div>
