* {
  font-family: Manrope, -apple-system, "Helvetica Neue", Arial, "Segoe UI", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

:root {
  --lightGreen: #01925a;
  --transition: all 0.5s;
  --calibri: "Calibri Light";
  --gBorderColor: #3d3d3d;
  --backgroundColor: #131315;
}

button {
  cursor: pointer;
  padding: 0.4em;
  border-radius: 0.2em;
  border: none;
  font-size: 14px;
}

.mainBtn {
  transition: var(--transition);
  color: #ffffff;
  border: none;
  background-color: var(--lightGreen);
}
.mainBtn:hover {
  transition: var(--transition);
  background-color: #02633d;
}

.dangerBtn {
  border: none;
  color: #ffffff;
  transition: var(--transition);
  background-color: #ff3737;
}
.dangerBtn:hover {
  transition: var(--transition);
  background-color: #b82a2a;
}

body {
  background-color: #131315;
}

nav {
  background: rgba(19, 19, 21, 0.5215686275);
  border-bottom: 1px solid var(--gBorderColor);
  padding: 0.3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
nav #logoSpan {
  font-size: 23px;
  font-family: var(--calibri);
  color: var(--lightGreen);
}
nav #logo {
  padding-top: 0.1em;
  font-family: var(--calibri);
  font-size: 23px;
  color: #ffffff;
}
nav .navLinks {
  display: grid;
  place-items: center;
}
nav .navLinks ol {
  list-style: none;
  transition: var(--transition);
}
nav .navLinks li {
  margin-left: 1.5em;
  padding: 0.4em 0.5em;
  display: inline-block;
  transition: var(--transition);
  border-radius: 0.2em;
}
nav .navLinks li:hover {
  border-bottom: 2px;
  background-color: var(--lightGreen);
  border-radius: 0.2em;
}
nav .navLinks a {
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
}
nav .btns {
  display: flex;
  padding-left: 45%;
}
nav .btns button {
  margin-top: 0.2em;
  font-size: 15px;
  margin-left: 5em;
  padding: 0.4em;
}

#headerTxt {
  color: #ffffff;
  text-align: center;
  padding-top: 2em;
  font-size: 30px;
  font-family: var(--calibri);
}

.form {
  padding: 1em;
  width: 17em;
  margin: auto;
  margin-top: 0.5em;
  border: 1px solid var(--gBorderColor);
  border-radius: 0.5em;
}
.form p {
  margin-top: 1em;
}
.form label {
  font-family: var(--calibri);
  color: #aaaaaa;
}
.form input {
  margin-top: 0.5em;
  padding: 0.4em;
  font-size: 14px;
  width: 100%;
  border: none;
  border-radius: 0.2em;
}
.form button {
  margin-top: 0.5em;
  width: 100%;
  background-color: #2e2e2e;
  border: 1px solid var(--gBorderColor);
  color: #ffffff;
  transition: var(--transition);
}
.form button:hover {
  transition: var(--transition);
  background-color: var(--gBorderColor);
}
.form .mainBtn {
  transition: var(--transition);
  color: #ffffff;
  border: none;
  background-color: var(--lightGreen);
}
.form .mainBtn:hover {
  transition: var(--transition);
  background-color: #02633d;
}
.form #noAcctTxt {
  color: rgb(255, 156, 156);
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

.error h1 {
  padding: 0.4em;
  color: rgba(255, 255, 255, 0.5882352941);
  background-color: rgba(255, 0, 0, 0.192);
  font-size: 15px;
  font-family: var(--calibri);
  text-align: center;
  font-style: italic;
}/*# sourceMappingURL=style.css.map */